extends ../layouts/mainLayout   
block content
    //- section_one =================================================================
    section.section_one  
        div.container 
            div.contactPeople
                h2 Lorem ipsum 
            div.aboutPeople 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam vel esse, neque eveniet at consectetur rerum, in nam ut atque itaque aliquam nulla aspernatur veritatis voluptate, amet sit officia rem?
                button 
                    a(href="#") More Detail
            div.imageBox
                    div.image-item 
                        img(src="img/home.jpg", alt="")
                        div.overlay 
                            h2 Kyaw Thu
                            p.textColor Worker
                            p Lorem ipsum dolor sit amet ipsum dolor sit amet Lorem ipsum dolor sit amet ipsum dolor sit amet
                            p kyawthy@gmail.com
                            button Contact
                    div.image-item 
                        img(src="img/image3.jpg", alt="")
                        div.overlay 
                            h2 Kyaw Thu
                            p.textColor Worker
                            p Lorem ipsum dolor sit amet ipsum dolor sit amet Lorem ipsum dolor sit amet ipsum dolor sit amet
                            p kyawthy@gmail.com
                            button Contact
                    div.image-item 
                        img(src="img/image2.jpg", alt="")
                        div.overlay 
                            h2 Kyaw Thu
                            p.textColor Worker
                            p Lorem ipsum dolor sit amet ipsum dolor sit amet Lorem ipsum dolor sit amet ipsum dolor sit amet
                            p kyawthy@gmail.com
                            button Contact
    //- End section_one =================================================================  
    //- section_two =================================================================                 
    section.section_two 
        div.container
            div.People 
                h2 Lorem ipsum
            div.item-content
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores laborum enim magni aliquam vitae voluptatum fuga, officia cupiditate ad, quaerat provident dolores? Quo omnis dolor ipsa, velit eligendi excepturi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores laborum enim magni aliquam vitae voluptatum fuga, officia cupiditate ad, quaerat provident dolores? Quo omnis dolor ipsa, velit eligendi excepturi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores laborum enim magni aliquam vitae voluptatum fuga, officia cupiditate ad, quaerat provident dolores? Quo omnis dolor ipsa, velit eligendi excepturi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores laborum enim magni aliquam vitae voluptatum fuga, officia cupiditate ad, quaerat provident dolores? Quo omnis dolor ipsa, velit eligendi excepturi?
            div.slideshow-container
                div.mySlides.fade
                    div.numbertext 1 / 4
                    img(src="img/people.png", alt="")
                    div.text Cpation One 
                div.mySlides.fade.none
                    div.numbertext 2 / 4
                    img(src="img/people1.jpg", alt="")
                    div.text Cpation Two 
                div.mySlides.fade.none
                    div.numbertext 3 / 4
                    img(src="img/people3.jpg", alt="")
                    div.text Cpation Three
                div.mySlides.fade.none
                    div.numbertext 4 / 4
                    img(src="img/image1.jpg", alt="")
                    div.text Cpation Four
                a(class="prev" onclick="plusSlides(-1)") &#10094;
                a(class="next" onclick="plusSlides(1)") &#10095;
            br 
            div(style="text-align:center")
                span(class="dot" onclick="currentSlide(1)")
                span(class="dot" onclick="currentSlide(2)")
                span(class="dot" onclick="currentSlide(3)")
                span(class="dot" onclick="currentSlide(4)")
    //- End section_two=================================================================
    
    //- Start section_three=============================================================
    section.section_three
        div.container 
            div.title_talk 
                h2 Lorem ipsum
            div.main_one 
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
            div.main_one 
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
            div.main_one 
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
            div.main_one 
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
            div.main_one.bottom 
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
                div.circle_image
                    img(src="img/image4.jpg", alt="")
                    div.middle
                        div.name John Doe
                div.paragraph
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis odit sint impedit quos ratione doloremque numquam perferendis ipsa, natus assumenda ab ad accusantium alias temporibus sed possimus qui repellat.
    
    //-End section_three===============================================================



    //-Start section_four=============================================================== 
    section.section_four 
        div.fullStack 
            h2 Full Stack Developer
        div.Leader
            div.cardTitle 
                img(src="img/image4.jpg", alt="")
            div.cardBody 
                h2 Developer
                p.textColor Naung Naung
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, laboriosam? Non molestiae perferendis ipsum, exercitationem cumque et, eos sunt, fuga labore quam doloribus. Voluptate, sunt! Laudantium esse dignissimos veritatis deserunt?
            div.cardFooter 
                button Contact us 

    //-End section_four================================================================ 

    //-Start section_five==============================================================
    section.section_five 
        div.contact_container
            div.text_contact 
                h2 Contact us 
            div.contact_Form 
                form(action="" method="post" class="contact_page")  
                    div
                        input(type="text" name="name" placeholder="Name*" class="inputname" autocomplete="off")
                    div.contact 
                        input(type="email" name="name" placeholder="Email*" class="inputname" autocomplete="off")
                    div.contact 
                        input(type="text" name="phone" placeholder="Phone*" class="inputname" autocomplete="off")
                    div.contact
                        input(type="text" name="subject" placeholder="Your Subject*" class="inputname" autocomplete="off")
                    div.contact 
                        textarea(name="message", cols="30", rows="10" placeholder="Your message*" class="inputname" style="font-size:1.7em")
                    div.contact 
                        input(type="submit" name="send" value="Send Message" class="submitname")
                div.contact_infor 
                    div.contact_center 
                        h2 Contact Information 
                        span Address :
                        p Tinggi sekali tower Jl.Kemacetan timur Jakarta selatan - Indonesia
                        span.textCenter Phone :
                        p  +62 123 456 78 / +62 123 456 79
                        span.textCenter Email :
                        p  naungnaung781777@gmail.com
        
    //-End section_five================================================================



    //- Start footer_one================================================================
    footer.footer_one  
        div.footer_container 
            div.footer 
                div.contact_me 
                    h2 Contact me 
                    a(href="#")
                        span Phone 
                        p 0781716928
                        span Email 
                        p naungnaung781777@gmail.com
                div.information 
                    h2 Information
                    ul
                        li Press release
                        li Term conditions
                        li Privacy policy
                        li Career center
                        li Contact us
                div.subscription 
                    h2 Subscription
                    p Please subscribe to us to get new topics. After subscripting, we will send you latest topics.
                    div.subscriber 
                        input(type="email" name="email" placeholder="Enter your email address" autocomplete="off" class="inputfooter")
                        input(type="submit" name="send" value="Subscribe" class="submitfooter")
        div.footer_bar 
            div.footer-item 
                div.footer_title 
                    h2 
                        span.red N 
                        span.red A 
                        span U 
                        span N 
                        span G &nbsp;
                        span.green NAUNG
                div.footer_copyright 
                    p &copy;2019 Naung Naung 
                    ul
                        li.list 
                            a(href="#") Home |
                        li.list 
                            a(href="#") About |
                        li 
                            a(href="#") Contact |
                        
    //-End footer_one ==================================================================
    div#stop.scrollTop
            span
                a(href="") Top
    //-End